a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.clear-a:hover {
  text-decoration: none;
}

i.glyphicon {
  display: none;
}

.array-item-list {
  margin-left: 0px;
  margin-bottom: 10px;
}

.btn-add {
  margin-left: 15px;
}

.btn-add::after {
  content: "+";
}
.array-item-move-up::after {
  content: "Move Up";
}
.array-item-move-down::after {
  content: "Move Down";
}
.array-item-remove::after {
  content: "Remove";
}

.radio-inline > span > input {
  margin-right: 7px;
}

.radio-inline > span > span {
  margin-right: 10px;
}

.legend {
  font-size: 24px;
}
.form-group.field > fieldset > label {
  font-size: 24px;
}

.form-group.field > label {
  font-size: 24px;
}

.checkbox > label > input {
  margin-right : 10px;
}