// $body-bg: purple;
.radio-inline > span > input {
    margin-right: 7px;
  }
  
  .radio-inline > span > span {
    margin-right: 10px;
  }
  
  .legend {
    font-size: 24px;
  }
  .form-group.field > fieldset > label {
    font-size: 24px;
  }
  
  .form-group.field > label {
    font-size: 24px;
  }
  
  .row > div {
    width: 100%;
  }
  